/**
 * Site header
 */
body{
    background: beige;
}


.rss-subscribe {
    display: inline-block;
    font-size: 1.4em;
    background: #FC2 none repeat scroll 0% 0%;
    padding: 14px;
    margin-left: -36px;
    margin-top: 18px;
    font-weight: 700;
    border-color: #111;
    border-style: double;
    border-width: 3px;
}


.site-header {
    
    background: $dark-background;
    box-sizing: border-box;
    padding: 20px 40px;
    display: block;
    @extend %clearfix;
    font-size: 0px;
    
    h1 {
        margin-bottom: 0px;
        a {
            font-family: $heading-fonts;
            text-decoration: none;
            line-height: 2.2;
            color: #FC2;
            font-size: 1.8rem;
            letter-spacing: -1px;
        }
    }
    h2.site-description {
        clear: none;
        color: #888;
        float: left;
        font-size: 2rem;
        line-height: 1.8;
        font-weight: 700;
        margin: 4px 0px 0px 32px;
        font-family: $heading-fonts;
    }

    .site-branding {
        float: left;
        width: 40%;
    }
    .trigger{
        margin-right: -12px;
    }
    a.page-link {
        font-family: $heading-fonts;
        font-size: 1.6rem;
        color: #888;
        float: right;
        font-weight: 700;
        text-decoration: none;

        padding-top: 24px;
        padding-bottom: 24px;
        border-left-width: 2px;
        border-color: #FC2;
        border-left-style: inset;
        padding-left: 12px;

        padding-right: 12px;

        &:hover{
           background: #4C4B49;
           color: #FFF;

        }
    }
    nav{
        display: inline-block;
    }
}


/**
 * Site footer
 */
.site-footer{

    background: $dark-background;
    box-sizing: border-box;
    height: full;
    padding: 20px 40px;
    display: block;
    @extend %clearfix;
    font-size: 0px;
    font-family: $heading-fonts;

    .footer-contact{
       font-size: 15px;
       color: #828282;
       display: block;
       float: left;
    }
    .footer-description{
        font-size: 15px;
        color: #828282;
        display: block;
        float: right;
    }
    li{
       list-style: outside none none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}





/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    min-height: 500px;
}

.page-heading {
    //font-size: 20px;
    margin-left: -28px;
    font-size: 1.4em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        background: $hardsand;
        border-left-style: inset;
        border-left-width: 4px;
        padding-left: 18px;
        
        h2 a{
            color: black;
            text-decoration: none;
        }
    }
    .post-meta {
        font-size: $small-font-size;
        background: #828282;
        color:#FFF;
        display: block;
        margin-left: -18px;
        padding-left: 18px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    margin-top: 16px;
    margin-bottom: 96px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;


    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    p {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 32px;
        margin-top: 86px;
        margin-bottom: 62px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h4 {
        font-size: 20px;
        display: inline-block;
        margin-top: 62px;
        margin-bottom: 32px;
        padding: 8px;
        color: #fc2;
        background: #111;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    ol {
        counter-reset: li;
        list-style: outside none none;
        position: relative;
        margin-left: 12px;

    }
    ol > li {
        position: relative;
        padding-left: 50px;
        &:before{
            content: counter(li, decimal);
            counter-increment: li;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 24px;
            padding: 0px 10px 0px 0px;
            color: #111;
            font-size: 22px;
            font-weight: bold;
            line-height: 35px;
            text-align: left;
            border-right: 2px solid #111;
        }
        
    }

}
